extends layout

block content
  h1 Login
  form(action="" method="POST")
    div
      label(for="username") Username: 
      input(type="text" name="username" required="true" autocomplete="false")
    div
      label(for="password") Password: 
      input(type="password" name="password" required='true')
    if errors
      ul.error-msg
        each error in errors
          li=error.msg
    br
    button Login

  a(href="./signup") Don't have an account? Signup!